name: Test Telegram Post

on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 */3 * * *"
jobs:
  send_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install python-telegram-bot==21.0

      - name: Send test message
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python send_test.py
